<ion-header>
  </ion-header>


  <ion-content padding class="body">
    <ion-grid>
      <!--header-->
      <ion-row class="separator">
          <h2 class="title"> Novedades sin Atender</h2>
      </ion-row >

      <ion-row >
        <h1></h1>
      </ion-row>

      <!--Novedad Seleccionada-->
      <ion-row class="selection">
          <h4>Novedades Seleccionada :</h4>
      </ion-row>
      <ion-row>
            <h6>{{descripcion}}</h6>
      </ion-row>

      <!--Prioridad-->
      <ion-row class="priority">
              <h4>Prioridad :</h4>
      </ion-row>
      <ion-row icon-start>
           <h6>
             <ion-icon name="warning" color="{{prioridad}}" class="icono">
             </ion-icon>
             {{prioridad}}
            </h6>
      </ion-row>
      <!--Fecha Reportada-->
      <ion-row class="date">
          <ion-col>
            <h4>Fecha Reportada :</h4>
          </ion-col>
      </ion-row>
      <ion-row>
            <h6>{{fecha | date: 'yyyy-MM-dd HH:mm:ss ' }}</h6>
      </ion-row>

        <ion-row *ngIf="foto!=''">
          <h4>Evidencia:</h4>
          <ion-img [src]='foto' *ngIf="foto!=''">
          </ion-img>
        </ion-row>

        <ion-list *ngIf="user==1" class="resolver">
              <ion-item class="textArea">
                  <ion-label fixed class="description">Descripción:</ion-label>
              </ion-item>
              <ion-item [(ngModel)]="descripcionAtendida" class="textArea">
                <ion-textarea [attr.rows]="4" placeholder="¿Cómo se resolvió?"></ion-textarea>
              </ion-item>
        </ion-list>


      <!--Marcar versión como atendida-->
      <ion-row class="message" *ngIf="user==1">
          <ion-col>
            <h2>¿Desea marcar esta novedad como atendida?</h2>
          </ion-col>
      </ion-row>

      <!-- Buttons -->
          <button ion-button (click)=cambiarEstado() *ngIf="user==1">
              Si
            </button>
            <button ion-button (click)=regresar() *ngIf="user==1">
                No
              </button>
    </ion-grid>
    <hr><hr>
  </ion-content>
