<ion-header>
  <ion-navbar  color="primary" text-center>
    <!--En caso de que la novedad no este atendida se mostrará esta vista y el usuario sea jefe de Seguridad-->
    <ion-title style="margin-left: 5px" *ngIf="user == 1 && !atendida">
      <h3><b>Atender Novedad</b></h3>
    </ion-title>
   <!--En caso de que la novedad este atendida se mostrará esta vista y el usuario sea jefe de Seguridad-->
    <ion-title style="margin-left: 5px" *ngIf="user == 1 && atendida">
      <h3><b>Ver Novedad</b></h3>
    </ion-title>
    <!--En caso de que la novedad no este atendida se mostrará esta vista y el usuario no sea jefe de Seguridad, Puede ser Inspector u otro-->
    <ion-title style="margin-left: 5px" *ngIf="user != 1 && !atendida">
      <h3><b>Ver Novedad</b></h3>
    </ion-title>
    <!--En caso de que la novedad este atendida se mostrará esta vista y el usuario no sea jefe de Seguridad, Puede ser Inspector u otro-->
    <ion-title  style="margin-left: 5px" *ngIf="user != 1 && atendida">
      <h3><b>Ver Novedad</b></h3>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-row>
    <ion-col col-12 text-center>
      <!--Muestra la fecha en que fue Creada la novedad-->
      <p style="color:  #757575">Creada {{time(fecha)}}</p>
    </ion-col>
  </ion-row>
  <!--Muestra la prioridad de la novedad-->
  <h2 text-center>PRIORIDAD: {{prioridad.toUpperCase()}}</h2>
  <ion-card>
    <!--Muestra la foto de la novedad-->
    <img [src]='foto' *ngIf="foto!=''">
    <ion-card-content>
      <!--Muestra la descripción de la novedad-->
      <b>Descripción: </b>{{descripcion}}
    </ion-card-content>
  </ion-card>
<!--En caso de que el usuario es jefe de seguridad y la novedad no sea atendida-->
  <ion-card *ngIf="user==1 && !atendida">
  <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label color="primary" floating>¿Cómo se atendió la novedad?</ion-label>
          <ion-textarea clearInput type="text" (ionChange)="verifyButton()" [(ngModel)]="descripcionAtendida" class="input-placeholder" maxLength="100"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-note>Descripción debe contener mas 5 letras</ion-note>
        </ion-item>
      </ion-list>
     <ion-list>
      <ion-item>
        <p *ngIf="descripcionAtendida < 5" ></p>
      </ion-item> 
    </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="atendida">
    <ion-card-title text-center>
      ¿Cómo se atendió la novedad?
    </ion-card-title>
    <ion-card-content>
      {{descripcionAtendida}}
    </ion-card-content>
  </ion-card>
  <ion-row *ngIf="atendida">
    <ion-col col-12 text-center>
      <ion-icon name=md-checkbox-outline item-left ></ion-icon>
      <p style="color:  #757575; font-size: 1.0em">Fue atendida {{time(fechaAtendida)}}</p>
    </ion-col>
  </ion-row>

</ion-content>
<ion-footer no-shadow *ngIf="user == 1 && !atendida">
  <ion-toolbar position="bottom">
    <ion-grid>
      <ion-row>
        <button ion-button color="dark" block (click)=cambiarEstado() *ngIf="user==1" [disabled]="!isenabled">ATENDER</button>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
