@import url('https://fonts.googleapis.com/css?family=Lato');
.body-novedad{
  background-color:#E0F8FF;

  #escoger{
    text-align: center;
    color:#004189;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
  }

  #empresa{
    color:#004189;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
  }

  .mainCard{
    background-color:#B5E0F7;
    border-radius: 10px;
    margin: 10px;
  }

  .final-image{
    margin-top: 5%;
  }

  .input-label{
    color:#004189;
  }

  .final-grid{
    margin-top: 10%;
  }

  .mainItem{
    background-color:#B5E0F7;
  }

  .titulo{
    background-color: #B5E0F7;
    text-align: center;
    font-size: 3ex;
    color: #8895A3;
  }

  .button-ios{
    border-radius: 75px;
  }
  .button-block-ios{
    margin-bottom: 10px;
    margin-left: 15px;
    width: 230px;
    border: solid blue ;

  }

  .logo{
    margin-left: 30px;
    margin-top: 100px;
  }
  #pie{
  text-align: center;
  color: #8895A3;
  }

  .card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
}
}
  ion-alert {
    $alert-min-width: 100px;
    
     $colors: (
        success: #2196F3,
        danger: #f50142,
        warning: #f53d3d,
      );

  &.alert-warning {
    .alert-head {
      background-color: map-get($colors, danger);
      color: #fff;
      margin-bottom: 10px;
    }
  }
  &.alertas {
    .alert-head {
      background-color: map-get($colors, warning);
      color: #fff;
      margin-bottom: 2px;
    }
    .alert-subTitle {
      color: black;
    }
  }
  &.alert-success {
    .alert-head {
      background: map-get($colors, success);
      color: #fff;
      margin-bottom: 10px;
    }
  }
}

