<ion-header>
  <ion-navbar  color="primary">
    <ion-title>
      Novedades sin atender
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngIf="size==0">
      <ion-card-content class="tittle">
        <h1>No existe Novedades sin Atender</h1>
      </ion-card-content>
    </ion-card>
    <ion-card  class="tittle" class="misNovedades"  *ngFor="let novedades of novedades" (click)=detallesNovedades(novedades)> <!--  style="border-left:  4px solid red " -->
      <ion-item>
      <ion-avatar item-start>
        <ion-icon name="warning" color="{{novedades.prioridad}}"></ion-icon>
      </ion-avatar>
      <h2>{{ novedades.descripcion }}</h2>
      <p>{{novedades.fechaCreacion | date:'dd-MM-yyyy HH:mm '}}</p>
    </ion-item>
    </ion-card>
  </ion-list>
<!--   <ion-fab right bottom>
    <button ion-fab color="light" name="add" item-end (click)="agregarNovedades()" color="accent"><ion-icon name="add"  ></ion-icon></button>
  </ion-fab> -->
  <ion-fab right bottom>
    <button ion-fab color="light" name="add" item-end  *ngIf="usuario==1"  (click)="agregarNovedades()" color="accent"><ion-icon name="add"  ></ion-icon></button>
  </ion-fab>
</ion-content>
