page-novedades-sin-atender {
  .body{
    background-color:#142b3b;
    ion-list{
     .misNovedades, .header, .pie{
        border: 1px solid #178EFF;
        background-color: #142b3b;
        .title{
          color:#178eff;
          font-size: 24.3px;
        }
        .back{
          color: #178EFF;
          font-size: 2.5em;
          margin-left: 5px;
        }
        .fecha_hora{
          color: #178EFF;
        }

        .icono{
          font-size: 2.5em;
          padding: 1px;
        }
        .icono2{
          font-size: 3.7em;
          padding: 2px;
          color: #178EFF;
          position: fixed;
          bottom: 0;
          right: 0;
          margin-right: 15px;

      }
      .hidden{
        visibility: hidden;
      }

      .icono2:hover{
        opacity:1;
        color:#0DFF71;
      }
      .novedad{
        color: #178EFF;
      }
      .list-md{
        margin: -1px 0 1px;
      }

    }
    .misNovedades:hover{
     background-color: whitesmoke;
     opacity: 1;
    }

  }
}

.item-md{
  padding-left: 9px;
}


}
