<ion-header>
  <ion-navbar color="primary" style="padding: 5px">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h2 style="margin-top: 0px;">{{global.areaNombre}}</h2>
      <h4 style="margin-top: 0px">{{global.puestoNombre}}</h4>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding (pan)="swipeEvent($event)">
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="sinAtender">
      Novedades sin atender
    </ion-segment-button>
    <ion-segment-button value="atendidas">
      Novedades atendidas
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="segment === 'sinAtender'">
    <ion-toolbar no-border-top>
      <ion-searchbar color="primary" [(ngModel)]="queryText" (ionInput)="filterNovedadesSinAtender($event)" placeholder="Buscar">
      </ion-searchbar>
    </ion-toolbar>
      <!-- +++++++++++++++++++++ -->
      <ion-item-group *ngIf="novedadesPrioridad(global.novedadesSinAtender, 'alta')">
        <ion-item-divider  style="background-color: red" color="light" *ngIf="queryText == ''">ALTA PRIORIDAD</ion-item-divider>
        <div *ngFor="let novedad of items">
          <ion-item *ngIf="novedad.prioridad== 'alta'">
            <h2>{{novedad.descripcion}}</h2>
            <p>Creada {{time(novedad.fechaCreacion)}}</p>
            <p *ngIf="queryText != ''">PRIORIDAD {{novedad.prioridad.toUpperCase()}}</p>
            <button ion-button clear item-end (click)=detallesNovedades(novedad) *ngIf="global.claseUsuario != 1">Ver</button>
            <button ion-button clear item-end (click)=detallesNovedades(novedad) *ngIf="global.claseUsuario == 1">Atender</button>
          </ion-item>
        </div>
      </ion-item-group>

      <!-- +++++++++++++++++++++ -->
      <ion-item-group *ngIf="novedadesPrioridad(global.novedadesSinAtender, 'media')">
        <ion-item-divider style="background-color: orange" color="light" *ngIf="queryText == ''">MEDIA PRIORIDAD</ion-item-divider>
        <div *ngFor="let novedad of items">
          <ion-item *ngIf="novedad.prioridad== 'media'">
            <h2>{{novedad.descripcion}}</h2>
            <p>Creada {{time(novedad.fechaCreacion)}}</p>
            <p *ngIf="queryText != ''">PRIORIDAD {{novedad.prioridad.toUpperCase()}}</p>
            <button ion-button clear item-end (click)=detallesNovedades(novedad) *ngIf="global.claseUsuario != 1">Ver</button>
            <button ion-button clear item-end (click)=detallesNovedades(novedad) *ngIf="global.claseUsuario == 1">Atender</button>
          </ion-item>
        </div>
      </ion-item-group>

      <!-- +++++++++++++++++++++ -->
      <ion-item-group *ngIf="novedadesPrioridad(global.novedadesSinAtender, 'baja')">
        <ion-item-divider style="background-color: green" color="light" *ngIf="queryText == ''">BAJA PRIORIDAD</ion-item-divider>
        <div *ngFor="let novedad of items">
          <ion-item *ngIf="novedad.prioridad== 'baja'">
            <h2>{{novedad.descripcion}}</h2>
            <p>Creada {{time(novedad.fechaCreacion)}}</p>
            <p *ngIf="queryText != ''">PRIORIDAD {{novedad.prioridad.toUpperCase()}}</p>
            <button ion-button clear item-end (click)=detallesNovedades(novedad) *ngIf="global.claseUsuario != 1">Ver</button>
            <button ion-button clear item-end (click)=detallesNovedades(novedad) *ngIf="global.claseUsuario == 1">Atender</button>
          </ion-item>
        </div>
      </ion-item-group>
  </ion-list>
  <ion-list *ngIf="segment === 'atendidas'">
    <ion-toolbar no-border-top>
      <ion-searchbar color="primary" [(ngModel)]="queryTextNoAtendidas" (ionInput)="filterAtendidas($event)" placeholder="Buscar">
      </ion-searchbar>
    </ion-toolbar>
    <ion-list>
      <div *ngFor="let novedad of itemAtendidos">
        <ion-item>
          <h2>{{novedad.descripcion}}</h2>
          <p>Atendida {{time(novedad.fechaActualizacion)}}</p>
          <p>PRIORIDAD {{novedad.prioridad.toUpperCase()}}</p>
          <button ion-button clear item-end (click)=detallesNovedades(novedad)>Ver</button>
        </ion-item>
      </div>
    </ion-list>
  </ion-list>
</ion-content>
