<ion-header>
  <ion-navbar  color="primary">
    <ion-title>
      Agregar Novedad
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <div *ngIf="(image!= '')" class="final-image">
      <img [src]=image>
      <ion-fab right top>
        <button ion-fab color="accent" (click)= " borrarImagen()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-fab>
    </div>
    <ion-fab center *ngIf="(image== '')">
      <button ion-button full (click)=" presentActionSheet()" color="secondary"><ion-icon name="camera"></ion-icon></button>
    </ion-fab>
    <ion-card-content>
      <ion-card-title>
        <ion-list>
          <ion-item>
            <ion-label color="primary" floating>Ingrese una descripción</ion-label>
            <ion-input clearInput type="text" (ionChange)="verifyButton()" [(ngModel)]="descripcion" class="input-placeholder"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-list radio-group [(ngModel)]="prioridad"  (ionChange)="onChange(prioridad)">
    <ion-list-header>
      Grado peligrosidad
    </ion-list-header>

    <ion-item>
      <ion-label>Urgente</ion-label>
      <ion-radio checked="true" value="urgente" color="urgente"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Alta</ion-label>
      <ion-radio value="alta" color="alta"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Media</ion-label>
      <ion-radio value="media" color="media"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Baja</ion-label>
      <ion-radio value="baja" color="baja"></ion-radio>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <ion-grid>
      <ion-row>
        <ion-col col-6 text-center>
          <button ion-button color="dark" block (click)= "crearNovedad()" [disabled]="!isenabled">Añadir</button>
        </ion-col>
        <ion-col col-6 text-center>
          <button ion-button color="secondary" block (click)= "cancelar()">Cancelar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
